.item {
  min-height: 50px;
  padding: 1.2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid gray;
  margin-bottom: 12px;
}

.item > span {
  margin-left: 1.2rem;
}

.item > img {
  width: 64px;
  height: 64px;
}
